body {
  font-family: 'Noto Sans KR', sans-serif;
}

.site-background {
  background-color: #f7fafc;
}

.site-header {
  background-color: #ffffff;
  padding: 10px 20px; /* 상단과 하단 패딩을 줄여 로고를 더 상단에 가깝게 함 */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-and-nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.site-logo {
  margin-right: 50px; /* 로고와 네비게이션 사이의 간격 조정 */
  flex-shrink: 0; /* 로고 크기가 축소되지 않도록 함 */
}

.logo-image {
  height: 30px;
  width: auto; /* 로고 이미지의 원래 비율을 유지하면서 높이에 맞춰 너비를 조정 */
  margin-right: auto; /* 로고를 왼쪽으로 밀어붙임 */
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #e2e8f0;
  padding: 8px;
}

.search-input {
  outline: none;
  border: none;
}

.hero-image-container {
  text-align: center;
  margin-bottom: 24px;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.intro-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.intro-content {
  margin-bottom: 16px;
}

/* 기본 스타일 */

.site-navigation .nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  display: flex;
}

.nav-item {
  position: relative;
  color: #333;
  padding: 10px;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  width: 60px;
  align-content: center;
  list-style-type: none;
  margin: 0;
  border: 2px solid #eee; /* 메뉴 아이템과의 경계선 추가 */
}

.submenu li {
  color: #111;
  padding: 5px 0;
}

/* 호버 효과 */
.nav-item:hover .submenu {
  display: block;
  animation: fadeIn 0.3s ease-in-out; /* 서브메뉴가 나타나는 애니메이션 */
}

/* 서브메뉴 애니메이션 효과 */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


/* 로그인 버튼 스타일 */
.login-button-container {
  display: flex;
  align-items: center;
}

.login-button {
  background-color: #00C897; /* 민트색 배경 */
  color: #FFFFFF; /* 하얀색 글씨 */
  text-align: center;
  width: 80px;
  padding: 8px 16px;
  border-radius: 4px; /* 버튼 모서리를 약간 둥글게 */
  text-decoration: none; /* 밑줄 제거 */
  font-weight: bold; /* 글씨 굵게 */
}
