@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f7fafc;
}

.card-user {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 40rem;
    width: 100%;
}

.info-user {
    padding: 2rem;
}

.center-content {
    text-align: center;
}

.center-avatar {
    margin: auto; /* 중앙 정렬을 위한 수정 */
    display: block; /* 이미지를 블록 요소로 만들어 줌 */
    border-radius: 9999px;
    height: 12rem;
    width: 12rem;
}

.name-user {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

.details-user .detail-row {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.detail-text {
    font-weight: 700;
}
