<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Game</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body { font-family: 'Noto Sans KR', sans-serif; }
    </style>
</head>
<body class="bg-gray-200 p-5">
    <div class="max-w-sm mx-auto">
        <div class="bg-white p-5 rounded-lg shadow-lg text-center">
            <h2 class="text-lg font-bold mb-4">방만들기</h2>
            
            <form method="post" action = "/New_Room">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="game_name">
                    방 제목
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="game_name" type="text" placeholder="방 제목을 입력해주세요!" name="project_name">
                </div>
            
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="max_players">
                        최대 인원수
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="max_players" type="number" placeholder="최대 인원수를 입력해주세요!" name="occupancy">
             </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="status1">
                        오픈카톡방 주소
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="status1" type="text" placeholder="오픈카톡방 주소를 입력해주세요!" name="chat">
                </div>
            
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="status2">
                        마감일
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="status2" type="text" placeholder="마감일을 입력해주세요!" name="end_date">
                </div>
            
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="status3">
                        방 소개
                    </label>
                    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="status3" placeholder="간단한 방 소개를 입력해주세요!" rows="5" name="Room_info"></textarea>
                </div>
                <div class="flex justify-around mt-4">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" type = "submit">
                        확인
                    </button>
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" type="reset">
                        취소
                    </button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>
